$font-family-primary: 'Inter' sans-serif;
$font-weight-primary: 400;
$font-weight-secondary: 500;
$font-weight-third: 700;
$font-weight-largest: 900;

$color-primary: #222124;
$color-secondary: #FFFFFF;

$background-color-primary: #800A7A;
$background-color-secondary: #F1B301;

